<div class="regestration_main">
    <div class="regestration_content">
        <div class="form_logo">
          <img src="../../assets/images/logo.png" alt="Logo">
        </div>

        <div class="regestration_form">
          <router-outlet></router-outlet>
        </div>

        <div class="reg_links">
          <h3 class="reg_links_header">Sign in with</h3>

          <div class="reg_links_anchors">
            <a href="" >Rakuten INTRA</a>
            <a href="" >Rakuten ID</a>
          </div>
        </div>
    </div>
</div>
